# Exclude everything (faster to build docker context)
**

# Except package dirs, run.py, poetry files, tests, .pre-commit-config, .git and README
!pyproject.toml
!run.py
!manifest.json
!fw_gear_mriqc
!README.md
!requirements.txt
!run
!remove_rate_widget.py
!add_tag.py

# Re-ignore pycache which might be inside package dir
**/__pycache__
